In [52]:
import pandas as pd 

train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [53]:
print(train.head(3))
print(test.head(3))

      id   age  workclass  fnlwgt     education  education.num  \
0   3331  34.0  State-gov  177331  Some-college             10
1  19749  58.0    Private  290661       HS-grad              9
2   1157  48.0    Private  125933  Some-college             10

       marital.status       occupation relationship   race     sex  \
0  Married-civ-spouse   Prof-specialty      Husband  Black    Male
1  Married-civ-spouse     Craft-repair      Husband  White    Male
2             Widowed  Exec-managerial    Unmarried  Black  Female

   capital.gain  capital.loss  hours.per.week native.country income
0          4386             0            40.0  United-States   >50K
1             0             0            40.0  United-States  <=50K
2             0          1669            38.0  United-States  <=50K
      id   age  workclass  fnlwgt     education  education.num  \
0  11574  39.0  State-gov  114055     Bachelors             13
1  15847  38.0    Private  254114  Some-college             10
2  17655  44.0  State-gov   55395       HS-grad              9

          marital.status       occupation   relationship   race     sex  \
0          Never-married  Exec-managerial  Not-in-family  White  Female
1  Married-spouse-absent   Prof-specialty      Own-child  Black  Female
2          Never-married     Craft-repair  Not-in-family  White    Male

   capital.gain  capital.loss  hours.per.week native.country
0             0             0            40.0  United-States
1             0             0            40.0  United-States
2             0             0             NaN  United-States

In [54]:
print(train.shape)
print(test.shape)

(29304, 16)
(3257, 15)

In [55]:
print(train.info())
print(test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29304 entries, 0 to 29303
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              29304 non-null  int64
 1   age             29292 non-null  float64
 2   workclass       27642 non-null  object
 3   fnlwgt          29304 non-null  int64
 4   education       29304 non-null  object
 5   education.num   29304 non-null  int64
 6   marital.status  29304 non-null  object
 7   occupation      27636 non-null  object
 8   relationship    29304 non-null  object
 9   race            29304 non-null  object
 10  sex             29304 non-null  object
 11  capital.gain    29304 non-null  int64
 12  capital.loss    29304 non-null  int64
 13  hours.per.week  29291 non-null  float64
 14  native.country  28767 non-null  object
 15  income          29304 non-null  object
dtypes: float64(2), int64(5), object(9)
memory usage: 3.6+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3257 entries, 0 to 3256
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              3257 non-null   int64
 1   age             3251 non-null   float64
 2   workclass       3083 non-null   object
 3   fnlwgt          3257 non-null   int64
 4   education       3257 non-null   object
 5   education.num   3257 non-null   int64
 6   marital.status  3257 non-null   object
 7   occupation      3082 non-null   object
 8   relationship    3257 non-null   object
 9   race            3257 non-null   object
 10  sex             3257 non-null   object
 11  capital.gain    3257 non-null   int64
 12  capital.loss    3257 non-null   int64
 13  hours.per.week  3248 non-null   float64
 14  native.country  3211 non-null   object
dtypes: float64(2), int64(5), object(8)
memory usage: 381.8+ KB
None

In [56]:
print(train.describe())
print(test.describe())

                 id           age        fnlwgt  education.num  capital.gain  \
count  29304.000000  29292.000000  2.930400e+04   29304.000000  29304.000000
mean   16264.027880     38.553223  1.897488e+05      10.080842   1093.858722
std     9384.518323     13.628811  1.055250e+05       2.570824   7477.435640
min        0.000000    -38.000000  1.228500e+04       1.000000      0.000000
25%     8145.750000     28.000000  1.177890e+05       9.000000      0.000000
50%    16253.500000     37.000000  1.783765e+05      10.000000      0.000000
75%    24374.250000     48.000000  2.370682e+05      12.000000      0.000000
max    32560.000000     90.000000  1.484705e+06      16.000000  99999.000000

       capital.loss  hours.per.week
count  29304.000000    29291.000000
mean      86.744506       40.434229
std      401.518928       12.324036
min        0.000000        1.000000
25%        0.000000       40.000000
50%        0.000000       40.000000
75%        0.000000       45.000000
max     4356.000000       99.000000
                 id          age        fnlwgt  education.num  capital.gain  \
count   3257.000000  3251.000000  3.257000e+03    3257.000000   3257.000000
mean   16423.704943    38.802830  1.900447e+05      10.079214    931.804728
std     9535.416746    13.917588  1.057902e+05       2.590118   6496.962999
min        3.000000    17.000000  1.882700e+04       1.000000      0.000000
25%     8078.000000    28.000000  1.186520e+05       9.000000      0.000000
50%    16626.000000    37.000000  1.783190e+05      10.000000      0.000000
75%    24743.000000    48.000000  2.364360e+05      12.000000      0.000000
max    32559.000000    90.000000  1.033222e+06      16.000000  99999.000000

       capital.loss  hours.per.week
count   3257.000000     3248.000000
mean      92.336199       40.468288
std      415.732721       12.598546
min        0.000000        1.000000
25%        0.000000       40.000000
50%        0.000000       40.000000
75%        0.000000       45.000000
max     3900.000000       99.000000

In [57]:
print(train.describe(include="object"))
print(test.describe(include="object"))

       workclass education      marital.status      occupation relationship  \
count      27642     29304               29304           27636        29304
unique         8        16                   7              14            6
top      Private   HS-grad  Married-civ-spouse  Prof-specialty      Husband
freq       20451      9449               13466            3683        11845

         race    sex native.country income
count   29304  29304          28767  29304
unique      5      2             41      2
top     White   Male  United-States  <=50K
freq    25022  19578          26240  22263
       workclass education      marital.status      occupation relationship  \
count       3083      3257                3257            3082         3257
unique         8        16                   7              14            6
top      Private   HS-grad  Married-civ-spouse  Prof-specialty      Husband
freq        2245      1052                1510             457         1348

         race   sex native.country
count    3257  3257           3211
unique      5     2             37
top     White  Male  United-States
freq     2794  2212           2930

In [58]:
print(train.isnull().sum())
print(test.isnull().sum())

id                   0
age                 12
workclass         1662
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1668
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week      13
native.country     537
income               0
dtype: int64
id                  0
age                 6
workclass         174
fnlwgt              0
education           0
education.num       0
marital.status      0
occupation        175
relationship        0
race                0
sex                 0
capital.gain        0
capital.loss        0
hours.per.week      9
native.country     46
dtype: int64

In [59]:
train["income"].value_counts()

income
<=50K    22263
>50K      7041
Name: count, dtype: int64

In [60]:
#04 데이터 전처리

print(train.shape)
df = train.dropna()
print(df.shape)
print(df.isnull().sum())

(29304, 16)
(27096, 16)
id                0
age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
income            0
dtype: int64

In [61]:
train.isnull().sum()

id                   0
age                 12
workclass         1662
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1668
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week      13
native.country     537
income               0
dtype: int64

In [62]:
df = train.dropna(subset=["native.country", "workclass"])
df.isnull().sum()

id                 0
age               12
workclass          0
fnlwgt             0
education          0
education.num      0
marital.status     0
occupation         6
relationship       0
race               0
sex                0
capital.gain       0
capital.loss       0
hours.per.week    13
native.country     0
income             0
dtype: int64

In [63]:
print(train.shape)
df = train.dropna(axis=1)
print(df.shape)

(29304, 16)

(29304, 11)

In [64]:
df.isnull().sum()

id                0
fnlwgt            0
education         0
education.num     0
marital.status    0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
income            0
dtype: int64

In [65]:
print(train.shape)
df = train.drop(['native.country', 'workclass'], axis=1)
print(df.shape)

(29304, 16)
(29304, 14)

In [66]:
a = train["workclass"].mode()[0]
train["workclass"] = train["workclass"].fillna(a)

train["workclass"].isnull().sum()

np.int64(0)

In [67]:
train.isnull().sum()

id                   0
age                 12
workclass            0
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1668
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week      13
native.country     537
income               0
dtype: int64

In [68]:
train["occupation"] = train["occupation"].fillna("X")
test["occupation"] = test["occupation"].fillna("X")
print(train.isnull().sum())
print(test.isnull().sum())

id                  0
age                12
workclass           0
fnlwgt              0
education           0
education.num       0
marital.status      0
occupation          0
relationship        0
race                0
sex                 0
capital.gain        0
capital.loss        0
hours.per.week     13
native.country    537
income              0
dtype: int64
id                  0
age                 6
workclass         174
fnlwgt              0
education           0
education.num       0
marital.status      0
occupation          0
relationship        0
race                0
sex                 0
capital.gain        0
capital.loss        0
hours.per.week      9
native.country     46
dtype: int64

In [69]:
train["workclass"] = train["workclass"].fillna(train["workclass"].mode()[0])
test["workclass"] = test["workclass"].fillna(test["workclass"].mode()[0])
print(train.isnull().sum())
print(test.isnull().sum())

id                  0
age                12
workclass           0
fnlwgt              0
education           0
education.num       0
marital.status      0
occupation          0
relationship        0
race                0
sex                 0
capital.gain        0
capital.loss        0
hours.per.week     13
native.country    537
income              0
dtype: int64
id                 0
age                6
workclass          0
fnlwgt             0
education          0
education.num      0
marital.status     0
occupation         0
relationship       0
race               0
sex                0
capital.gain       0
capital.loss       0
hours.per.week     9
native.country    46
dtype: int64

In [70]:
train["native.country"] = train["native.country"].fillna(train["native.country"].mode()[0])
test["native.country"] = test["native.country"].fillna(train["native.country"].mode()[0])

In [71]:
value = int(train["age"].mean())
train["age"] = train["age"].fillna(value)
test["age"] = test["age"].fillna(value)

In [72]:
value = int(train["hours.per.week"].median())
train["hours.per.week"] = train["hours.per.week"].fillna(value)
test["hours.per.week"] = test["hours.per.week"].fillna(value)

In [73]:
# 인코딩 
## 원-핫 인코딩

# print(train.head(3))
# print(test.head(3))

# print(train.isnull().sum())
# print(test.isnull().sum())

print(train.shape)
print(test.shape)

(29304, 16)
(3257, 15)

In [74]:
y_train = train.pop("income")
y_train

0         >50K
1        <=50K
2        <=50K
3         >50K
4        <=50K
         ...
29299    <=50K
29300    <=50K
29301    <=50K
29302    <=50K
29303    <=50K
Name: income, Length: 29304, dtype: object

In [75]:
print(train.shape)
print(test.shape)

(29304, 15)
(3257, 15)

In [76]:
train_oh = pd.get_dummies(train)
test_oh = pd.get_dummies(test)

print(train_oh.shape)
print(test_oh.shape)

(29304, 107)
(3257, 103)

In [77]:
print(train["workclass"].value_counts())
print(test["workclass"].value_counts())

workclass
Private             22113
Self-emp-not-inc     2292
Local-gov            1863
State-gov            1170
Self-emp-inc          991
Federal-gov           856
Without-pay            13
Never-worked            6
Name: count, dtype: int64
workclass
Private             2419
Self-emp-not-inc     249
Local-gov            230
State-gov            128
Self-emp-inc         125
Federal-gov          104
Never-worked           1
Without-pay            1
Name: count, dtype: int64

In [78]:
print(train.shape, test.shape)
data = pd.concat([train, test])
data_oh = pd.get_dummies(data)

train_oh = data_oh.iloc[:len(train)]
test_oh = data_oh.iloc[len(train):]

train_oh.shape, test_oh.shape

(29304, 15) (3257, 15)

((29304, 107), (3257, 107))

In [79]:
# 레이블 인코딩
cols = train.select_dtypes(include="object").columns

from sklearn.preprocessing import LabelEncoder

# train[cols]

for col in cols:
    le = LabelEncoder()
    le.fit(train[col])
    train[col] = le.transform(train[col])
    test[col] = le.transform(test[col])

train[cols].head()

,workclass,education,marital.status,occupation,relationship,race,sex,native.country
0,6,15,2,9,0,2,1,38
1,3,11,2,2,0,4,1,38
2,3,15,6,3,4,2,0,38
3,3,15,2,10,0,4,1,38
4,3,15,2,13,0,4,1,38

In [80]:
def get_data():
    train_copy = train.copy()
    test_copy = test.copy()
    return train_copy, test_copy

In [82]:
train_copy, test_copy = get_data()

# train_copy[cols]

from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(train_copy[cols])
train_copy[cols] = scaler.transform(train_copy[cols])
test_copy[cols] = scaler.transform(test_copy[cols])

train_copy[cols].head(3)

,workclass,education,marital.status,occupation,relationship,race,sex,native.country
0,0.857143,1.000000,0.333333,0.642857,0.0,0.5,1.0,0.95
1,0.428571,0.733333,0.333333,0.142857,0.0,1.0,1.0,0.95
2,0.428571,1.000000,1.000000,0.214286,0.8,0.5,0.0,0.95

In [84]:
train_copy, test_copy = get_data()

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(train_copy[cols])
train_copy[cols] = scaler.transform(train_copy[cols])
test_copy[cols] = scaler.transform(test_copy[cols])


train_copy[cols].head()

,workclass,education,marital.status,occupation,relationship,race,sex,native.country
0,2.627193,1.215704,-0.405886,0.594375,-0.902040,-1.960312,0.704828,0.261085
1,-0.087609,0.180327,-0.405886,-1.021654,-0.902040,0.394328,0.704828,0.261085
2,-0.087609,1.215704,2.248747,-0.790793,1.583468,-1.960312,-1.418786,0.261085
3,-0.087609,1.215704,-0.405886,0.825236,-0.902040,0.394328,0.704828,0.261085
4,-0.087609,1.215704,-0.405886,1.517820,-0.902040,0.394328,0.704828,0.261085

In [85]:
train_copy, test_copy = get_data()

from sklearn.preprocessing import RobustScaler 

scaler = RobustScaler()
scaler.fit(train_copy[cols])
train_copy[cols]=scaler.transform(train_copy[cols])
test_copy[cols]=scaler.transform(test_copy[cols])

train_copy[cols].head()

,workclass,education,marital.status,occupation,relationship,race,sex,native.country
0,3.0,1.333333,0.0,0.428571,-0.333333,-2.0,0.0,0.0
1,0.0,0.000000,0.0,-0.571429,-0.333333,0.0,0.0,0.0
2,0.0,1.333333,2.0,-0.428571,1.000000,-2.0,-1.0,0.0
3,0.0,1.333333,0.0,0.571429,-0.333333,0.0,0.0,0.0
4,0.0,1.333333,0.0,1.000000,-0.333333,0.0,0.0,0.0

In [91]:
# 검증데이터 나누기

train.head()
test.head()
train.shape
test.shape
y_train

from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(
    train, 
    y_train, 
    test_size=0.2, 
    random_state=2025
)

X_train.shape, X_val.shape, y_train.shape, y_val.shape

((23443, 15), (5861, 15), (23443,), (5861,))

In [94]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier()
rf.fit(X_train, y_train)
pred = rf.predict_proba(X_val)

In [96]:
rf.classes_

array(['<=50K', '>50K'], dtype=object)

In [98]:
pred[:, 1]

array([0.93, 0.33, 0.03, ..., 0.01, 0.01, 0.89], shape=(5861,))

In [100]:
from sklearn.metrics import roc_auc_score

roc_score = roc_auc_score(y_val, pred[:, 1])
roc_score

0.9166381544206033

In [105]:
import lightgbm as lgb

lgbmc = lgb.LGBMClassifier(random_state=2025, verbose=-1)
lgbmc.fit(X_train, y_train)
pred = lgbmc.predict_proba(X_val)

from sklearn.metrics import roc_auc_score

roc_score = roc_auc_score(y_val, pred[:, 1])
roc_score

0.9309405426063334

In [110]:
pred = lgbmc.predict_proba(test)
pred[:, 1]

submit = pd.DataFrame({
    "pred": pred[:, 1]
})

submit.to_csv("result.csv", index=False)