In [1]:
import pandas as pd

# 주어진 데이터
data = {
    '키': [150, 160, 170, 175, 165],
    '몸무게': [42, 50, 70, 64, 56]
}
df = pd.DataFrame(data)
df

     키  몸무게
0  150   42
1  160   50
2  170   70
3  175   64
4  165   56

In [8]:
df.corr()
df.corr(method="spearman")
df.corr(method="kendall")
df["키"].corr(df["몸무게"])
df["몸무게"].corr(df["키"], method="kendall")

np.float64(0.7999999999999999)

In [11]:
from scipy.stats import pearsonr, spearmanr, kendalltau

pearsonr(df["몸무게"], df["키"])
spearmanr(df["몸무게"], df["키"])
kendalltau(df["몸무게"], df["키"])

SignificanceResult(statistic=np.float64(0.7999999999999999), pvalue=np.float64(0.08333333333333333))

In [13]:
import pandas as pd

data = {
    '키': [150, 160, 170, 175, 165, 155, 172, 168, 174, 158,
          162, 173, 156, 159, 167, 163, 171, 169, 176, 161],
    '몸무게': [42, 50, 70, 64, 56, 48, 68, 60, 65, 52,
            54, 67, 49, 51, 58, 55, 69, 61, 66, 53]
}
df = pd.DataFrame(data)
df

      키  몸무게
0   150   42
1   160   50
2   170   70
3   175   64
4   165   56
5   155   48
6   172   68
7   168   60
8   174   65
9   158   52
10  162   54
11  173   67
12  156   49
13  159   51
14  167   58
15  163   55
16  171   69
17  169   61
18  176   66
19  161   53

In [16]:
from statsmodels.formula.api import ols 

model = ols("키 ~ 몸무게", data=df).fit()
display(model.summary())

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      키   R-squared:                       0.892
Model:                            OLS   Adj. R-squared:                  0.886
Method:                 Least Squares   F-statistic:                     148.0
Date:                Wed, 29 Oct 2025   Prob (F-statistic):           4.04e-10
Time:                        20:16:05   Log-Likelihood:                -45.761
No. Observations:                  20   AIC:                             95.52
Df Residuals:                      18   BIC:                             97.51
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    115.0676      4.158     27.671      0.000     106.331     123.804
몸무게            0.8658      0.071     12.167      0.000       0.716       1.015
==============================================================================
Omnibus:                        0.985   Durbin-Watson:                   2.609
Prob(Omnibus):                  0.611   Jarque-Bera (JB):                0.336
Skew:                          -0.315   Prob(JB):                        0.845
Kurtosis:                       3.082   Cond. No.                         432.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [17]:
model.rsquared

np.float64(0.8915914350087264)

In [19]:
model.params["몸무게"]

np.float64(0.8658438852380175)

In [20]:
model.pvalues

Intercept    3.335096e-16
몸무게          4.037933e-10
dtype: float64

In [21]:
new_data = pd.DataFrame({"몸무게": [67]})
new_data

   몸무게
0   67

In [22]:
result = model.predict(new_data)
result

0    173.079179
dtype: float64

In [43]:
# print(df.head())

# df["잔차"] = df["키"] - model.predict(df["몸무게"])
print(df["잔차"].head())
print(sum(df["잔차"]**2) / len(df["잔차"]))

0   -1.433082
1    1.640167
2   -5.676711
3    4.518352
4    1.445103
Name: 잔차, dtype: float64
5.687113319442214

In [42]:
df["잔차"] = df["키"] - model.predict(df["몸무게"])
(df["잔차"]**2).mean()

np.float64(5.687113319442215)

In [44]:
from sklearn.metrics import mean_squared_error
mean_squared_error(df["키"], model.predict(df["몸무게"]))

5.687113319442215

In [46]:
model.conf_int(alpha=0.1)

                    0           1
Intercept  107.856567  122.278711
몸무게          0.742443    0.989244

In [47]:
new_data = pd.DataFrame({"몸무게": [50]})
new_data

   몸무게
0   50

In [48]:
model.predict(new_data)

0    158.359833
dtype: float64

In [50]:
pred = model.get_prediction(new_data)
pred.summary_frame()

,mean,mean_se,mean_ci_lower,mean_ci_upper,obs_ci_lower,obs_ci_upper
0,158.359833,0.794986,156.68963,160.030037,152.820798,163.898869