In [2]:
print("안녕! 시나공")

안녕! 시나공

In [3]:
print(2024)

2024

In [5]:
"길벗은" 
"여러분의 합격을 응원합니다"
2024

2024

In [ ]:
# 한 줄 주석 처리
print("파이썬")

파이썬

In [9]:
# 여러 줄 주석 처리

# print("파이썬")
# print("인생은 짧다")

In [11]:
# 03. 산술연산자

print(1+2)
print(4-1)
print(2*3)
print(16/3)

3
3
6
5.333333333333333

In [12]:
print(1+2, 4-1, 2*3, 16/3)

3 3 6 5.333333333333333

In [13]:
15/3

5.0

In [ ]:
# 몫을 구하는 연산자
16 // 3

5

In [ ]:
# 나머지 연산자
16 % 3

1

In [20]:
# 거듭제곱

4 ** 3

64

In [21]:
# 제곱근
16 ** 0.5

4.0

In [23]:
# 산술연산자 우선순위
(4 + 3) * 2

14

In [24]:
# 문자끼리 더하기 
"py" + "thon"

'python'

In [26]:
# 문자와 숫자 더하기
"py" + "2"

'py2'

In [30]:
type(True)

bool

In [33]:
# 변수


americano = 4500
print(americano)
print("americano")

4500
americano

In [34]:
latte = 5000

americano + latte

9500

In [35]:
result = americano + latte
result

9500

In [36]:
americano = 4500
americano = americano - 1000
print(americano)

3500

In [38]:
# 다중변수할당
a, b, c = 10, 20, 30
print(a)
print(b)
print(c)

10
20
30

In [40]:
a = 2
b = 0.17
print(type(a))

a = a + b
print(type(a))

<class 'int'>
<class 'float'>

In [ ]:
box = 2.17

print("문자열: ", str(box))
print("정수형: ", int(box))

문자열:  2.17
문자열:  2

In [45]:
box = "3.14"
box = float(box) + 10
box

13.14

In [ ]:
# 07. 비교연산자

# 엑셀
# <> 다르다
# = 같다

# 파이썬
# == 같다
# != 다르다

In [47]:
10 > 5

True

In [48]:
10 < 5

False

In [49]:
10 == 10

True

In [52]:
10 != 10

False

In [53]:
a = 10 
b = 10 
a == b

True

In [54]:
a >= b

True

In [55]:
a > b

False

In [56]:
c = "빅데이터"
d = "빅데이터"
e = "데이터"

c == d

True

In [57]:
d == e

False

In [ ]:
# 조건문

점수 = 87

if 점수 >= 90:
    print("A")
elif 점수 >= 80:
    print("B")
elif 점수 >= 70:
    print("C")
else:
    print("D")

B

In [63]:
if False:
    print("무시")

In [1]:
# 09. 리스트

listbox = [4, 2, 10, 6, 8]
print(listbox)

[4, 2, 10, 6, 8]

In [2]:
listbox[0]

4

In [3]:
type(listbox)

list

In [4]:
listbox = ["길벗", "시나공", "빅데이터"]
listbox

['길벗', '시나공', '빅데이터']

In [5]:
listbox[1]

'시나공'

In [6]:
listbox.append("분석")
listbox

['길벗', '시나공', '빅데이터', '분석']

In [10]:
listbox = [4, 2, 10, 6, 8]
listbox_sorted = sorted(listbox)

print(listbox)
print(listbox_sorted)

[4, 2, 10, 6, 8]
[2, 4, 6, 8, 10]

In [11]:
sorted(listbox, reverse=True)

[10, 8, 6, 4, 2]

In [12]:
listbox = ["길벗", "시나공", "빅데이터"]
listbox_a = sorted(listbox)
listbox_a

['길벗', '빅데이터', '시나공']

In [16]:
# 10. 딕셔너리 

dictbox = {
    "name" : "쿼가",
    "level" : 5
}

dictbox

{'name': '쿼가', 'level': 5}

In [15]:
type(dictbox)

dict

In [17]:
dictbox["name"]

'쿼가'

In [18]:
dictbox["level"]

5

In [19]:
dictbox["level"] = 6
dictbox

{'name': '쿼가', 'level': 6}

In [20]:
dictbox.keys()

dict_keys(['name', 'level'])

In [21]:
dictbox.values()

dict_values(['쿼가', 6])

In [22]:
dictbox.items()

dict_items([('name', '쿼가'), ('level', 6)])

In [ ]:
columns = dictbox.keys()
list(columns)

list

In [27]:
a = "합격맛집"
b = "길벗"
c = "출판사"

dictbox = {
    "닉네임": a, 
    b: c
}
dictbox

{'닉네임': '합격맛집', '길벗': '출판사'}

In [30]:
list1 = ["딴짓분식", "딴짓카페", "딴짓피자"]
list2 = [4.8, 4.9, 5.0]

dictbox = {
    "가게": list1, 
    "평점": list2
}

dictbox["평점"][2]

5.0

In [35]:
# 11. 인덱싱과 슬라이싱

listbox = [2, 4, 6, 8, 10]

print(listbox[0])
print(listbox[1])
print(listbox[4])
print(listbox[-1])
print(listbox[-2])

2
4
10
10
8

In [38]:
listbox = [2, 4, 6, 8, 10]

print(listbox[0:3])
print(listbox[1:4])
print(listbox[2:5])

[2, 4, 6]
[4, 6, 8]
[6, 8, 10]

In [42]:
listbox = [2, 4, 6, 8, 10]

print(listbox[2:])
print(listbox[:3])
print(listbox[:])
print(listbox[::2])

[6, 8, 10]
[2, 4, 6]
[2, 4, 6, 8, 10]
[2, 6, 10]

In [43]:
listbox = [2, 4, 6, 8, 10]

listbox[1:3] = [20, 30]
listbox

[2, 20, 30, 8, 10]

In [44]:
# 12. 내장함수 


listbox = [4, 2, 10, 6, 8]

sum(listbox)

30

In [45]:
boolbox = [True, False, True]

sum(boolbox)

2

In [46]:
listbox = [4, 2, 10, 6, 8]
max(listbox)

10

In [47]:
listbox = [4, 2, 10, 6, 8]
min(listbox)

2

In [48]:
listbox = [4, 2, 10, 6, 8]
len(listbox)

5

In [49]:
round(1.2345, 2)

1.23

In [53]:
# 13. 문자열

text = "빅데이터 분석기사 파이썬 공부"
text = text.replace("공부", "스터디")
print(text)

빅데이터 분석기사 파이썬 스터디

In [56]:
text = "빅데이터 분석기사 파이썬 공부"

text = text.replace("파이썬", "머신러닝")
text = text.replace("분석기사", "분석을 위한")

print(text)

빅데이터 분석을 위한 머신러닝 공부

In [57]:
text = "안녕하세요! 함께 성장해요."
text[0:2]

'안녕'

In [58]:
text[7:9]

'함께'

In [ ]:
date = '2022-12-25'
date[5:]

'"12"-25'

In [66]:
date = '2022-12-25'

result = date.split("-")
type(result)

list

In [70]:
text = "안녕하세요! 함께 성장해요."
text.split()

['안녕하세요!', '함께', '성장해요.']

In [71]:
date = '2022-12-25'
list(date)

['2', '0', '2', '2', '-', '1', '2', '-', '2', '5']

In [72]:
# 14. 반복문
list = [2, 4, 6, 8, 10]

print(list[0])
print(list[1])
print(list[2])
print(list[3])
print(list[4])

2
4
6
8
10

In [73]:
list = [2, 4, 6, 8, 10]

for li in list:
    print(li)

2
4
6
8
10

In [75]:
listbox = ["길벗", "시나공", "빅분기"]
# len(listbox)
for li in listbox:
    print(li)

길벗
시나공
빅분기

In [ ]:
listbox = [2, 4, 6, 8, 10]

for i in listbox:
    print(i)
    
print("끝")

2
끝
4
끝
6
끝
8
끝
10
끝

In [79]:
listbox = [2, 4, 6, 8, 10]

for item in listbox:
    result = item + 1
    print(result)

3
5
7
9
11

In [82]:
for item in range(10):
    print(item)

0
1
2
3
4
5
6
7
8
9

In [83]:
for i in range(5, 10):
    print(i)

5
6
7
8
9

In [88]:
# list.append()

listbox = []
for i in range(1, 5+1):
    listbox.append(i)
    
print(listbox)

[1, 2, 3, 4, 5]

In [93]:
listbox = ["길벗", "시나공", "빅분기", "분석"]

for index, item in enumerate(listbox): 
    print(index, item)

0 길벗
1 시나공
2 빅분기
3 분석

In [108]:
person_info = {
    "name": "사람", 
    "age": 20, 
    "city": "부산", 
    "hobbies": ["연애", "수영", "코딩"]
}
# print(person_info.keys())
# print(person_info.values())

for k, v in zip(person_info.keys(), person_info.values()):
    print(k, v)

name 사람
age 20
city 부산
hobbies ['연애', '수영', '코딩']

In [2]:
# 15. 함수

def hello():
    print("안녕하세요")

In [3]:
hello()

안녕하세요

In [6]:
## 매개변수가 있는 함수

def hello(name): # name =  홍길동 
    print("안녕하세요 " + name)

In [7]:
hello("홍길동")

안녕하세요 홍길동

In [8]:
def hello(name): 
    print(name)

print(name)

NameError: name 'name' is not defined

In [9]:
def plus(x, y):
    print(x + y)

In [11]:
plus(10, 20)
plus("안녕", "반가워")

30
안녕반가워

In [12]:
def plus(x, y): 
    result = x * y 
    return result

In [16]:
a = plus(10, 20)

print(a)

200

In [ ]:
listbox = [15, 46, 78, 24, 56]

def min_max(data): # data = listbox = [15, 46, 78, 24, 56]
    mi = min(data)
    ma = max(data)
    return mi, ma

In [19]:
a, b = min_max(listbox)

print(a)
print(b)

15
78

In [ ]:
listbox = [15, 46, 78, 24, 56]

def mean(data): # data = listbox =[15, 46, 78, 24, 56]
    return sum(data) / len(data)

In [21]:
result = mean(listbox)
print(result)

43.8

In [31]:
# 확인문제

listbox = ["감사", "행복", "사랑", "성공", "긍정", "변화", "성장", "희망"]

# 리스트의 개수 
print("1: ", len(listbox))

# 첫번째 값
print("2: ", listbox[0])

# 마지막 값 인덱싱
print("3: ", listbox[-1])

# 처음부터 세번째
print("4: ", listbox[0:3])

# 마지막 앞 단어 출력
print("5: ", listbox[-2])

# 행복, 사랑 출력
print("6: ", listbox[1:3])

# 변화 -> 웃음
listbox[5] = "웃음"
print("7: ", listbox)

1:  8
2:  감사
3:  희망
4:  ['감사', '행복', '사랑']
5:  성장
6:  ['행복', '사랑']
7:  ['감사', '행복', '사랑', '성공', '긍정', '웃음', '성장', '희망']

In [32]:
cols = ["name", "age", "phone"]

for col in cols:
    print(col)

name
age
phone

In [34]:
listbox = [15, 46, 78, 24, 56]

ma = max(listbox)
mi = min(listbox)
print(ma - mi)

def max_minus_min(data): 
    ma = max(data)
    mi = min(data)
    return ma - mi

result = max_minus_min(listbox)
print(result)

63
63

In [40]:
str_data = "여러분의 합격을 응원합니다!"

# str_data = str_data.replace("여러분", "당신")
# str_data

def change_word(data):
    data = data.replace("여러분", "당신")
    return data

result = change_word(str_data)
print(result)

당신의 합격을 응원합니다!