In [1]:
import pandas as pd

df = pd.read_csv("type1_data1.csv")
df

        id   age city    f1  f2      f3    f4         f5  subscribed   views
0     id01   2.0   서울   NaN   0    gold  ENFJ  91.297791  2024-07-16  6820.0
1     id02   9.0   서울  70.0   1     NaN  ENFJ  60.339826  2024-05-12  2534.0
2     id03  27.0   서울  61.0   1    gold  ISTJ  17.252986  2024-03-16  7312.0
3     id04  75.0   서울   NaN   2     NaN  INFP  52.667078  2024-07-21   493.0
4     id05  24.0   서울  85.0   2     NaN  ISFJ  29.269869  2024-03-07  1338.0
..     ...   ...  ...   ...  ..     ...   ...        ...         ...     ...
115  id114  22.0   대구  23.0   0    gold  INTP   0.000000  2025-02-17  9747.0
116  id115  23.0   부산  65.0   0     vip  ENTP   0.000000  2025-02-17  5628.0
117  id116  23.0   서울  12.0   1  silver  INFP   0.000000  2025-02-17  1267.0
118  id117  23.0   대구  65.0   2    gold  INFP   0.000000  2025-02-17  6543.0
119  id118  24.0   부산  94.0   1     vip  ESFJ   0.000000  2025-02-17  2356.0

[120 rows x 10 columns]

In [15]:
#01 필터링, 최솟값, 중앙값
import pandas as pd 
df = pd.read_csv("type1_data1.csv")
# print(df.info())

#1. 
print(df.shape)
cond = df["f5"] != 0
print(cond.sum())

df = df[cond]
print(df.shape)

#2.
print("결측치", df["views"].isnull().sum())
views_min = df["views"].min()
df["views"] = df["views"].fillna(views_min)
print("결측치", df["views"].isnull().sum())

#3. 
views_median = df["views"].median()
print(int(views_median))

(120, 10)
102
(102, 10)
결측치 4
결측치 0
5924