In [1]:
import pandas as pd

df = pd.read_csv("type1_data1.csv")
df

        id   age city    f1  f2      f3    f4         f5  subscribed   views
0     id01   2.0   서울   NaN   0    gold  ENFJ  91.297791  2024-07-16  6820.0
1     id02   9.0   서울  70.0   1     NaN  ENFJ  60.339826  2024-05-12  2534.0
2     id03  27.0   서울  61.0   1    gold  ISTJ  17.252986  2024-03-16  7312.0
3     id04  75.0   서울   NaN   2     NaN  INFP  52.667078  2024-07-21   493.0
4     id05  24.0   서울  85.0   2     NaN  ISFJ  29.269869  2024-03-07  1338.0
..     ...   ...  ...   ...  ..     ...   ...        ...         ...     ...
115  id114  22.0   대구  23.0   0    gold  INTP   0.000000  2025-02-17  9747.0
116  id115  23.0   부산  65.0   0     vip  ENTP   0.000000  2025-02-17  5628.0
117  id116  23.0   서울  12.0   1  silver  INFP   0.000000  2025-02-17  1267.0
118  id117  23.0   대구  65.0   2    gold  INFP   0.000000  2025-02-17  6543.0
119  id118  24.0   부산  94.0   1     vip  ESFJ   0.000000  2025-02-17  2356.0

[120 rows x 10 columns]

In [2]:
#01 필터링, 최솟값, 중앙값
import pandas as pd 
df = pd.read_csv("type1_data1.csv")
# print(df.info())

#1. 
print(df.shape)
cond = df["f5"] != 0
print(cond.sum())

df = df[cond]
print(df.shape)

#2.
print("결측치", df["views"].isnull().sum())
views_min = df["views"].min()
df["views"] = df["views"].fillna(views_min)
print("결측치", df["views"].isnull().sum())

#3. 
views_median = df["views"].median()
print(int(views_median))

(120, 10)
102
(102, 10)
결측치 4
결측치 0
5924

In [3]:
# 02. 카테고리, 인덱스, 문자열 슬라이싱

df = pd.read_csv("type1_data1.csv")
df

#1. 
sub_mode = df["subscribed"].mode()[0]
print(sub_mode)

# df["subscribed"].value_counts().idxmax()

#2. 
print(int(sub_mode[-2:]))

2025-02-17
17

In [4]:
df.head()

     id   age city    f1  f2    f3    f4         f5  subscribed   views
0  id01   2.0   서울   NaN   0  gold  ENFJ  91.297791  2024-07-16  6820.0
1  id02   9.0   서울  70.0   1   NaN  ENFJ  60.339826  2024-05-12  2534.0
2  id03  27.0   서울  61.0   1  gold  ISTJ  17.252986  2024-03-16  7312.0
3  id04  75.0   서울   NaN   2   NaN  INFP  52.667078  2024-07-21   493.0
4  id05  24.0   서울  85.0   2   NaN  ISFJ  29.269869  2024-03-07  1338.0

In [5]:
#03 파생변수, 정렬, 인덱싱

df = pd.read_csv("type1_data1.csv")
df

#1.
print(df.shape)
df = df.dropna()
print(df.shape)
print(df.isnull().sum())

#2. 
df["new_col"] = df["views"] / df["f1"]
df.head()

#3. 
cond = df["new_col"] == df["new_col"].max()
print(int(df[cond].iloc[0, 1]))

df = df.sort_values(by="new_col", ascending=False)
df.iloc[0, 1]

(120, 10)
(70, 10)
id            0
age           0
city          0
f1            0
f2            0
f3            0
f4            0
f5            0
subscribed    0
views         0
dtype: int64
22

np.float64(22.0)

In [6]:
# 04. 값 변경, 정렬, 합계+

df = pd.read_csv("type1_data1.csv")
df

#1. 
print(df["views"].isnull().sum())
df["views"] = df["views"].fillna(0)
print(df["views"].isnull().sum())

#2. 
df = df.sort_values("views", ascending=False)
df.head(10)
views_10 = df.iloc[9, -1]
print(views_10)

#3. 
print(df.head(11))
df.iloc[0:9+1, -1] = views_10
print(df.head(11))

#4.
print(int(df["views"].sum()))

4
0
9877.0
        id   age city    f1  f2      f3    f4         f5  subscribed    views
5     id06  22.0   서울  57.0   0     vip  INTP  20.129444  2024-09-12  21550.0
56    id56  59.0   대구   NaN   1     vip  ESTJ  73.586397  2024-04-05  19589.0
83    id83  73.0   경기  50.0   1     vip  ENTP  80.138280  2024-09-26  19139.0
32    id32  25.0   부산  64.0   0     vip  ISFJ  13.049921  2024-05-24  17421.0
100  id100  47.0   경기  53.0   0     vip  ESFP  33.308999  2024-02-21  15535.0
10   id100  47.0   경기  53.0   0     vip  ESFP  33.308999  2024-02-21  15535.0
104  id103  21.0   부산  53.0   0     vip  ISFP   0.000000  2025-02-17  13543.0
114  id113  22.0   경기  34.0   2  silver  ENTP   0.000000  2025-02-17  10346.0
9     id10  95.0   서울  74.0   1    gold  ISFP  98.429899  2024-04-03   9992.0
113  id112  22.0   서울  45.0   2     vip  ENTP   0.000000  2025-02-17   9877.0
115  id114  22.0   대구  23.0   0    gold  INTP   0.000000  2025-02-17   9747.0
        id   age city    f1  f2      f3    f4         f5  subscribed   views
5     id06  22.0   서울  57.0   0     vip  INTP  20.129444  2024-09-12  9877.0
56    id56  59.0   대구   NaN   1     vip  ESTJ  73.586397  2024-04-05  9877.0
83    id83  73.0   경기  50.0   1     vip  ENTP  80.138280  2024-09-26  9877.0
32    id32  25.0   부산  64.0   0     vip  ISFJ  13.049921  2024-05-24  9877.0
100  id100  47.0   경기  53.0   0     vip  ESFP  33.308999  2024-02-21  9877.0
10   id100  47.0   경기  53.0   0     vip  ESFP  33.308999  2024-02-21  9877.0
104  id103  21.0   부산  53.0   0     vip  ISFP   0.000000  2025-02-17  9877.0
114  id113  22.0   경기  34.0   2  silver  ENTP   0.000000  2025-02-17  9877.0
9     id10  95.0   서울  74.0   1    gold  ISFP  98.429899  2024-04-03  9877.0
113  id112  22.0   서울  45.0   2     vip  ENTP   0.000000  2025-02-17  9877.0
115  id114  22.0   대구  23.0   0    gold  INTP   0.000000  2025-02-17  9747.0
652812

In [7]:
# 05. 문자열 슬라이싱, 파생변수, 평균값

df = pd.read_csv("type1_data1.csv")
# print(df.head())

#1. 
cond = df["f4"].str.contains("FJ")
df = df[cond]


#2.
result = round(df["f2"].mean(), 2)
print(result)

0.61

In [10]:
# 06. 필터링, 분산

df = pd.read_csv("type1_data1.csv")

#1. 
cond1 = df["f3"] == "gold"
cond2 = df["f2"] == 2

df = df[cond1 & cond2]

#2. 
round(df["f1"].var(), 2)

np.float64(235.43)

In [20]:
# 07. 값 변경(연산), 필터링 절댓값
df = pd.read_csv("type1_data1.csv")
df.head()
df.info()

#1. 
print(df.head(2))
df["age"] = df["age"] + 1
print(df.head(2))

#2. 
cond_20 = (df["age"] >= 20) & (df["age"] < 30)
cond_30 = (df["age"] >= 30) & (df["age"] < 40)

age_20 = df[cond_20]["views"].mean()
age_30 = df[cond_30]["views"].mean()

round(abs(age_20 - age_30), 2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          120 non-null    object
 1   age         120 non-null    float64
 2   city        120 non-null    object
 3   f1          89 non-null     float64
 4   f2          120 non-null    int64
 5   f3          91 non-null     object
 6   f4          120 non-null    object
 7   f5          120 non-null    float64
 8   subscribed  120 non-null    object
 9   views       116 non-null    float64
dtypes: float64(4), int64(1), object(5)
memory usage: 9.5+ KB
     id  age city    f1  f2    f3    f4         f5  subscribed   views
0  id01  2.0   서울   NaN   0  gold  ENFJ  91.297791  2024-07-16  6820.0
1  id02  9.0   서울  70.0   1   NaN  ENFJ  60.339826  2024-05-12  2534.0
     id   age city    f1  f2    f3    f4         f5  subscribed   views
0  id01   3.0   서울   NaN   0  gold  ENFJ  91.297791  2024-07-16  6820.0
1  id02  10.0   서울  70.0   1   NaN  ENFJ  60.339826  2024-05-12  2534.0

np.float64(263.13)

In [26]:
#08. 시계열 데이터, 필터링, 데이터개수

df = pd.read_csv("type1_data1.csv")

#1. 
df.head(2)
# df.info()

cond1 = df["subscribed"].str[0:7] == "2024-02"
df = df[cond1]


#2. 
cond2 = df["f3"] == "gold"
cond2.sum()

np.int64(5)

In [37]:
# 09. 필터링, 카테고리, 최빈값

df = pd.read_csv("type1_data1.csv")
import numpy as np

#1. 
print(df.isnull().sum())
cond = df["views"] <= 1000
df = df[cond]
print(df.isnull().sum())

print(np.nan < 1000)
print(np.nan > 1000)
print(np.nan == 1000)

#2
df["f4"].mode()[0]

id             0
age            0
city           0
f1            31
f2             0
f3            29
f4             0
f5             0
subscribed     0
views          4
dtype: int64
id             0
age            0
city           0
f1             4
f2             0
f3            10
f4             0
f5             0
subscribed     0
views          0
dtype: int64
False
False
False

'ISFJ'

In [45]:
#10. 그룹핑, 최댓값, 정렬

df = pd.read_csv("type1_data1.csv")

#1.
print(df.isnull().sum())
df = df.dropna()
print(df.isnull().sum())

#2. 
df.head(2)
df = df.groupby("city").mean(numeric_only=True)

#3. 
df.sort_values("f2", ascending=False)
df["f2"].idxmax()

id             0
age            0
city           0
f1            31
f2             0
f3            29
f4             0
f5             0
subscribed     0
views          4
dtype: int64
id            0
age           0
city          0
f1            0
f2            0
f3            0
f4            0
f5            0
subscribed    0
views         0
dtype: int64

'서울'

In [52]:
# 11. 슬라이싱, 사분위수, 결측치 제거 
df = pd.read_csv("type1_data1.csv")

#1.
df = df.dropna()
# df.isnull().sum()

#2. 
num = int(len(df) * 0.7)
df = df.iloc[ :num]

#3. 
q3 = df["views"].quantile(0.75)
q1 = df["views"].quantile(0.25)

result = int(q3 - q1)
print(result)

2771

In [58]:
# 12. 결측치 처리, 최빈값, 데이터 개수
df = pd.read_csv("type1_data1.csv")

#1. 
print(df.isnull().sum())

# f1
# f3

#2. 
df = df.dropna(subset="f1")
df.isnull().sum()

#3. 
f3_mode = df["f3"].mode()[0]
f3_mode
df["f3"] = df["f3"].fillna(f3_mode)
df.isnull().sum()


#4
cond = df["f3"] == "gold"
sum(cond)

id             0
age            0
city           0
f1            31
f2             0
f3            29
f4             0
f5             0
subscribed     0
views          4
dtype: int64

63

In [63]:
#13. 결측 데이터 찾기, 필터링, 평균값

df = pd.read_csv("type1_data1.csv")

# 1

cond = df["f1"].isnull()
df = df[cond]
df

#2. 
round(df["age"].mean(), 1)

np.float64(53.6)

In [94]:
#14. 중복 데이터 제거, 값 변경, 데이터 개수

df = pd.read_csv("type1_data1.csv")

#1. 
print(df.shape)
df = df.drop_duplicates()
print(df.shape)


# #2. 
# import numpy as np
# df["f3"] = df["f3"].map({np.nan: 0, "silver": 1, "gold": 2, "vip": 3})
# df.head()

# #3. 
# df["f3"].sum()

df["f3"] = df["f3"].fillna(0)

cond = df["f3"] == "silver"
df[cond] = 1

cond2 = df["f3"] == "gold"
df[cond2] = 2

cond3 = df["f3"] == "vip"
df[cond3] = 3

df[cond3]

(120, 10)
(118, 10)

    id  age city   f1  f2 f3 f4   f5 subscribed  views
5    3  3.0    3  3.0   3  3  3  3.0          3    3.0
10   3  3.0    3  3.0   3  3  3  3.0          3    3.0
32   3  3.0    3  3.0   3  3  3  3.0          3    3.0
56   3  3.0    3  3.0   3  3  3  3.0          3    3.0
83   3  3.0    3  3.0   3  3  3  3.0          3    3.0
104  3  3.0    3  3.0   3  3  3  3.0          3    3.0
107  3  3.0    3  3.0   3  3  3  3.0          3    3.0
110  3  3.0    3  3.0   3  3  3  3.0          3    3.0
113  3  3.0    3  3.0   3  3  3  3.0          3    3.0
116  3  3.0    3  3.0   3  3  3  3.0          3    3.0
119  3  3.0    3  3.0   3  3  3  3.0          3    3.0

In [110]:
# 15. 컬럼삭제, 행 단위 합계, 필터링
df = pd.read_csv("type1_data1.csv")


#1.
df = df.select_dtypes(exclude="object")
df.head()


#2.
print(df.isna().sum())
df = df.fillna(0)
print(df.isna().sum())

#3. 
# df["합"] = df["age"] + df["f1"] + df["f2"] + df["f5"] + df["views"]
# sum(df["합"] > 3000)

#3_1. 
df = df.T
sum(df.sum() > 3000)

age       0
f1       31
f2        0
f5        0
views     4
dtype: int64
age      0
f1       0
f2       0
f5       0
views    0
dtype: int64

88

In [114]:
# 16. 이상치, IQR
df = pd.read_csv("type1_data1.csv")

#1. 
q1 = df["views"].quantile(0.25)
q3 = df["views"].quantile(0.75)
# print(q1, q3)
iqr = q3 - q1

#2. 
line1 = q1 - (iqr * 1.5)
line2 = q3 + (iqr * 1.5)

cond1 = df["views"] < line1
cond2 = df["views"] > line2

df = df[cond1 | cond2]

#3.
int(df["views"].sum())

77699

In [122]:
# 17. 이상치, 소수점 있는 데이터 찾기, 표준편차
df = pd.read_csv("type1_data1.csv")

#1. 
s1 = df["views"].std()

#2. 
cond = df["age"] > 0
print(df.shape)
df = df[cond]
print(df.shape)

cond2 = df["age"] == round(df["age"], 0)
# print(1.0 == 1.0)
# print(1.5 == 2.0)
# print(1.2 == 1.0)
df = df[cond2]
print(df.shape)

s2 = df["views"].std()

#3. 
round(s1 + s2, 2)

(120, 10)
(116, 10)
(110, 10)

np.float64(8297.31)

In [135]:
#18. 데이터(행) 기준 평균값, 인덱싱
df = pd.read_csv("type1_data2.csv", index_col="year")
df

#1.
mean_2001 = df.loc[2001].mean()
n1 = sum(df.loc[2001] > mean_2001)

#2. 
mean_2003 = df.loc[2003].mean()
n2 = sum(df.loc[2003] < mean_2003)

#3. 
n1 + n2

202

In [157]:
#19. 결측치(뒤의 값으로 대체), 그룹합

df = pd.read_csv("type1_data1.csv")

#1. 
print(df.isnull().sum())
df = df.fillna(method="bfill")
print(df.isnull().sum())


#2. 
df = df.groupby(["city", "f2"]).sum(numeric_only=True)

#3. 
df = df.sort_values("views", ascending=False)
df

df = df.reset_index()
df.nlargest(3, columns="views").loc[2, "city"]

id             0
age            0
city           0
f1            31
f2             0
f3            29
f4             0
f5             0
subscribed     0
views          4
dtype: int64
id            0
age           0
city          0
f1            0
f2            0
f3            0
f4            0
f5            0
subscribed    0
views         0
dtype: int64

C:\Users\HRD영대\AppData\Local\Temp\ipykernel_10796\3780138006.py:7: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.fillna(method="bfill")

'경기'

In [156]:
df = df.reset_index()
df.nlargest(3, columns="views").loc[2, "city"]

'경기'

In [169]:
#20. 시계열 데이터, 월별집계, 인덱스
df = pd.read_csv("type1_data1.csv")

#1. 
# df.head()
# df.info()
df["subscribed"] = pd.to_datetime(df["subscribed"]) 
# df.info()

df["월"] = df["subscribed"].dt.month

df = df.groupby("월").sum(numeric_only=True)
# df


#2
# df.sort_values("views")

df = df.reset_index()
df
df = df.nsmallest(5, columns="views")
df.loc[10, "월"]

np.int32(11)

In [179]:
#21. 시간 간의 차이 계산(분), 필터링

df = pd.read_csv("delivery_time.csv")

#1
# df.head()
# df.shape
# df.info()
# df.isnull().sum()

df["실제도착시간"] = pd.to_datetime(df["실제도착시간"])
df["예상도착시간"] = pd.to_datetime(df["예상도착시간"])

cond1 = df["실제도착시간"] > df["예상도착시간"]
sum(cond1)

#2. 
cond2 = df["거리"] >= 7

df = df[cond1 & cond2]
len(df)

311