In [ ]:
import pandas as pd
df = pd.DataFrame({
    'weights':[122, 121, 120, , 125119, 115, 121, 118, 117, 127,
           123, 129, 119, 124, 114, 126, 122, 124, 121, 116,
           120, 123, 127, 118, 122, 117, 124, 125, 123, 121],
})
df

    weights
0       122
1       121
2       120
3       119
4       125
5       115
6       121
7       118
8       117
9       127
10      123
11      129
12      119
13      124
14      114
15      126
16      122
17      124
18      121
19      116
20      120
21      123
22      127
23      118
24      122
25      117
26      124
27      125
28      123
29      121

In [3]:
!pip install scipy

Requirement already satisfied: scipy in c:\users\hrd영대\appdata\local\programs\python\python313\lib\site-packages (1.16.2)
Requirement already satisfied: numpy<2.6,>=1.25.2 in c:\users\hrd영대\appdata\local\programs\python\python313\lib\site-packages (from scipy) (2.2.3)

In [5]:
from scipy.stats import ttest_1samp

ttest_1samp(df["weights"], 120, alternative="two-sided")

TtestResult(statistic=np.float64(2.1155384372682344), pvalue=np.float64(0.043092957066609296), df=np.int64(29))

In [6]:
# 귀무가설 : 120g 같다
# 대립가설 : 표본평균이 모평균으로 가정된 값(120)보다 크다
# 단측검정

ttest_1samp(df["weights"], 120, alternative="greater")

TtestResult(statistic=np.float64(2.1155384372682344), pvalue=np.float64(0.021546478533304648), df=np.int64(29))

In [7]:
# 귀무가설 : 120g 같다
# 대립가설 : 표본평균이 모평균으로 가정된 값(120)보다 작다
# 단측검정

ttest_1samp(df["weights"], 120, alternative="less")

TtestResult(statistic=np.float64(2.1155384372682344), pvalue=np.float64(0.9784535214666953), df=np.int64(29))

In [8]:
## 심화학습

import pandas as pd
df = pd.DataFrame({
    'weights':[125, 126, 118, 124, 117, 127, 123, 122, 119, 142]
})

In [9]:
from scipy.stats import shapiro

shapiro(df["weights"])

ShapiroResult(statistic=np.float64(0.8164570347000635), pvalue=np.float64(0.022960129822451016))

In [10]:
from scipy.stats import wilcoxon

wilcoxon(df["weights"] - 120, alternative="less")

WilcoxonResult(statistic=np.float64(47.0), pvalue=np.float64(0.9814453125))

In [11]:
## 대응표본검정
import pandas as pd
df = pd.DataFrame({
    'before':[85, 90, 92, 88, 86, 89, 83, 87],
    'after':[85.5,89.9,92.6,89.5,85.8,88.8,84.6,87.8]
})
df

   before  after
0      85   85.5
1      90   89.9
2      92   92.6
3      88   89.5
4      86   85.8
5      89   88.8
6      83   84.6
7      87   87.8

In [12]:
from scipy.stats import ttest_rel

ttest_rel(df["before"], df["after"], alternative="less")

TtestResult(statistic=np.float64(-2.2127749675452324), pvalue=np.float64(0.03127028733756238), df=np.int64(7))

In [13]:
ttest_rel(df["after"], df["before"], alternative="greater")

TtestResult(statistic=np.float64(2.2127749675452324), pvalue=np.float64(0.03127028733756238), df=np.int64(7))

In [14]:
ttest_rel(df["before"], df["after"])

TtestResult(statistic=np.float64(-2.2127749675452324), pvalue=np.float64(0.06254057467512476), df=np.int64(7))

In [16]:
# 심화학습
import pandas as pd
df = pd.DataFrame({
    'before':[85, 90, 92, 88, 86, 89, 83, 87],
    'after':[86, 92, 94, 89, 84, 90, 84, 88]
})
     

from scipy.stats import shapiro 

# print(shapiro(df["before"]))
# print(shapiro(df["after"]))

shapiro(df["before"] - df["after"])

ShapiroResult(statistic=np.float64(0.6886147375920879), pvalue=np.float64(0.0016734051223900109))

In [17]:
from scipy.stats import wilcoxon 
 

wilcoxon(df["before"], df["after"], alternative="less")

WilcoxonResult(statistic=np.float64(7.0), pvalue=np.float64(0.07421875))

In [18]:
## 독립표본검정

import pandas as pd
class1 = [85, 90, 92, 88, 86, 89, 83, 87]
class2 = [80, 82, 88, 85, 84]

In [19]:
from scipy.stats import ttest_ind
ttest_ind(class1, class2)

TtestResult(statistic=np.float64(2.2108140580092237), pvalue=np.float64(0.04914857789252186), df=np.float64(11.0))

In [20]:
from scipy.stats import ttest_ind 

ttest_ind(class1, class2, alternative="less")

TtestResult(statistic=np.float64(2.2108140580092237), pvalue=np.float64(0.9754257110537391), df=np.float64(11.0))

In [21]:
ttest_ind(class1, class2, alternative="greater")

TtestResult(statistic=np.float64(2.2108140580092237), pvalue=np.float64(0.02457428894626093), df=np.float64(11.0))

In [22]:
## 심화학습
class1 = [85, 90, 92, 88, 86, 89, 83, 87]
class2 = [80, 82, 88, 85, 84]

In [ ]:
from scipy.stats import shapiro, levene
print(shapiro(class1))
print(shapiro(class2))

ShapiroResult(statistic=np.float64(0.9981893537736595), pvalue=np.float64(0.999986994137081))
ShapiroResult(statistic=np.float64(0.9917398436295009), pvalue=np.float64(0.9854182266624983))

In [25]:
from scipy.stats import levene

levene(class1, class2)

LeveneResult(statistic=np.float64(0.0027925869510027727), pvalue=np.float64(0.958802951766629))

In [26]:
from scipy.stats import ttest_ind 
ttest_ind(class1, class2, alternative="less")

TtestResult(statistic=np.float64(2.2108140580092237), pvalue=np.float64(0.9754257110537391), df=np.float64(11.0))

In [27]:
import pandas as pd
class1 = [85, 90, 92, 88, 86, 89, 83, 87]
class2 = [80, 82, 88, 85, 130]

from scipy.stats import shapiro 

print(shapiro(class1))
print(shapiro(class2))

ShapiroResult(statistic=np.float64(0.9981893537736595), pvalue=np.float64(0.999986994137081))
ShapiroResult(statistic=np.float64(0.6880497349322277), pvalue=np.float64(0.007151570728885509))

In [28]:
from scipy.stats import mannwhitneyu

mannwhitneyu(class1, class2, alternative="less")

MannwhitneyuResult(statistic=np.float64(26.0), pvalue=np.float64(0.8299904236851448))