In [ ]:
import pandas as pd 
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

# train.shape, test.shape

((6818, 12), (1705, 11))

In [3]:
train.head(3)
test.head(3)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDO38,17.250,Low Fat,0.073251,Canned,76.4986,OUT017,2007,NaN,Tier 2,Supermarket Type1
1,FDO32,6.360,Low Fat,0.120544,Fruits and Vegetables,45.8060,OUT046,1997,Small,Tier 1,Supermarket Type1
2,FDT14,10.695,Regular,0.128247,Dairy,121.8440,OUT018,2009,Medium,Tier 3,Supermarket Type2

In [5]:
train.info()
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6818 entries, 0 to 6817
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            6818 non-null   object
 1   Item_Weight                5656 non-null   float64
 2   Item_Fat_Content           6818 non-null   object
 3   Item_Visibility            6818 non-null   float64
 4   Item_Type                  6818 non-null   object
 5   Item_MRP                   6818 non-null   float64
 6   Outlet_Identifier          6818 non-null   object
 7   Outlet_Establishment_Year  6818 non-null   int64
 8   Outlet_Size                4878 non-null   object
 9   Outlet_Location_Type       6818 non-null   object
 10  Outlet_Type                6818 non-null   object
 11  Item_Outlet_Sales          6818 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 639.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1705 entries, 0 to 1704
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            1705 non-null   object
 1   Item_Weight                1404 non-null   float64
 2   Item_Fat_Content           1705 non-null   object
 3   Item_Visibility            1705 non-null   float64
 4   Item_Type                  1705 non-null   object
 5   Item_MRP                   1705 non-null   float64
 6   Outlet_Identifier          1705 non-null   object
 7   Outlet_Establishment_Year  1705 non-null   int64
 8   Outlet_Size                1235 non-null   object
 9   Outlet_Location_Type       1705 non-null   object
 10  Outlet_Type                1705 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 146.7+ KB

In [7]:
train.describe()
train.describe(include="object")

,Item_Identifier,Item_Fat_Content,Item_Type,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type
count,6818,6818,6818,6818,4878,6818,6818
unique,1554,5,16,10,3,3,4
top,FDW26,Low Fat,Snack Foods,OUT046,Medium,Tier 3,Supermarket Type1
freq,9,4092,963,763,2228,2664,4474

In [8]:
train.isnull().sum()

Item_Identifier                 0
Item_Weight                  1162
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1940
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [12]:
# 전처리
cols = train.select_dtypes(include="object").columns

target = train.pop("Item_Outlet_Sales")
print(train.shape)
print(test.shape)

data = pd.concat([train, test])
print(data.shape)

(6818, 11)
(1705, 11)
(8523, 11)

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
for col in cols: 
    # le.fit(data[col])
    data[col] = le.fit_transform(data[col])

,Item_Identifier,Item_Fat_Content,Item_Type,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,1467,1,9,1,0,2,1
1,1075,1,1,1,0,2,1
2,450,1,6,1,0,2,1
3,613,2,5,2,3,1,1
4,695,2,13,1,0,2,1
...,...,...,...,...,...,...,...
1700,1502,1,9,4,2,0,0
1701,1168,2,4,4,2,0,0
1702,474,2,12,3,1,2,2
1703,69,1,7,2,3,1,1
1704,1276,1,9,8,2,0,1

In [15]:
train = data.iloc[:len(train)].copy()
test = data.iloc[len(train):].copy()

train.shape, test.shape

((6818, 11), (1705, 11))

In [18]:
train.isnull().sum()
test.isnull().sum()

Item_Identifier                0
Item_Weight                  301
Item_Fat_Content               0
Item_Visibility                0
Item_Type                      0
Item_MRP                       0
Outlet_Identifier              0
Outlet_Establishment_Year      0
Outlet_Size                    0
Outlet_Location_Type           0
Outlet_Type                    0
dtype: int64

In [19]:
train["Item_Weight"] = train["Item_Weight"].fillna(train["Item_Weight"].min())
test["Item_Weight"] = test["Item_Weight"].fillna(train["Item_Weight"].min())

train.isnull().sum(), test.isnull().sum()

(Item_Identifier              0
 Item_Weight                  0
 Item_Fat_Content             0
 Item_Visibility              0
 Item_Type                    0
 Item_MRP                     0
 Outlet_Identifier            0
 Outlet_Establishment_Year    0
 Outlet_Size                  0
 Outlet_Location_Type         0
 Outlet_Type                  0
 dtype: int64,
 Item_Identifier              0
 Item_Weight                  0
 Item_Fat_Content             0
 Item_Visibility              0
 Item_Type                    0
 Item_MRP                     0
 Outlet_Identifier            0
 Outlet_Establishment_Year    0
 Outlet_Size                  0
 Outlet_Location_Type         0
 Outlet_Type                  0
 dtype: int64)

In [20]:
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(
    train, 
    target, 
    test_size=0.2, 
    random_state=2025
)

X_train.shape, X_val.shape, y_train.shape, y_val.shape

((5454, 11), (1364, 11), (5454,), (1364,))

In [21]:
from sklearn.linear_model import LinearRegression

# 회귀모형
lr = LinearRegression()
lr.fit(X_train, y_train)
pred_lr = lr.predict(X_val)

# 랜덤포레스트 
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(random_state=2025)
rf.fit(X_train, y_train)
pred_rf = rf.predict(X_val)

# light GBM
import lightgbm as lgb
lgbmr = lgb.LGBMRegressor(random_state=2025, verbose=-1)
lgbmr.fit(X_train, y_train)
pred_lgb = lgbmr.predict(X_val)

In [22]:
from sklearn.metrics import root_mean_squared_error

# 회귀모형 평가
result_lr = root_mean_squared_error(y_val, pred_lr)

# 랜덤포레스트 평가
result_rf = root_mean_squared_error(y_val, pred_rf)

# lightgbm 평가
result_lgb = root_mean_squared_error(y_val, pred_lgb)

print("회귀모형", result_lr)
print("랜덤포레스트", result_rf)
print("light GBM", result_lgb)

회귀모형 1245.1107086995514
랜덤포레스트 1167.049235527179
light GBM 1155.1549539384673

In [25]:
# 예측 결과 

pred = lgbmr.predict(test)
pred
submit = pd.DataFrame({
    "pred": pred
})
submit.to_csv("result.csv", index=False)