In [99]:
import pandas as pd

train = pd.read_csv("flight_train.csv")
test = pd.read_csv("flight_test.csv")

In [100]:
train.shape, test.shape

((10505, 11), (4502, 10))

In [101]:
target = train.pop('price')

In [102]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10505 entries, 0 to 10504
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   airline           10505 non-null  object
 1   flight            10505 non-null  object
 2   source_city       10505 non-null  object
 3   departure_time    10505 non-null  object
 4   stops             10505 non-null  object
 5   arrival_time      10505 non-null  object
 6   destination_city  10505 non-null  object
 7   class             10505 non-null  object
 8   duration          10505 non-null  float64
 9   days_left         10505 non-null  int64
dtypes: float64(1), int64(1), object(8)
memory usage: 820.8+ KB

In [103]:
print(train["flight"].nunique())
print(test["flight"].nunique())

1153
893

In [104]:

cols = train.select_dtypes(include="object").columns
cols

data = pd.concat([train, test])

In [105]:
from sklearn.preprocessing import LabelEncoder 

for col in cols: 
    le = LabelEncoder()
    
    data[col] = le.fit_transform(data[col])

In [106]:
train = data.iloc[:len(train)].copy()
test = data.iloc[len(train):].copy()

train.shape, test.shape

((10505, 10), (4502, 10))

In [107]:
train[cols]

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class
0,5,1127,4,2,0,3,2,1
1,5,1170,0,4,2,4,5,0
2,3,102,2,2,0,3,0,1
3,1,629,4,1,0,2,1,0
4,3,437,3,1,0,2,1,1
...,...,...,...,...,...,...,...,...
10500,5,1180,0,2,0,4,1,1
10501,5,1125,4,5,2,5,5,1
10502,0,889,1,5,0,0,2,1
10503,5,1103,5,2,0,5,4,0
10504,4,1044,0,2,2,5,2,1