In [1]:
import pandas as pd 

train = pd.read_csv("laptop_train.csv")
test = pd.read_csv("laptop_test.csv")

In [2]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Brand               91 non-null     object
 1   Model               82 non-null     object
 2   Series              55 non-null     object
 3   Processor           86 non-null     object
 4   Processor_Gen       86 non-null     object
 5   RAM                 85 non-null     float64
 6   Hard_Disk_Capacity  85 non-null     object
 7   OS                  85 non-null     object
 8   Rating              91 non-null     float64
 9   Price               91 non-null     int64
dtypes: float64(2), int64(1), object(7)
memory usage: 7.2+ KB

In [5]:
cols = train.select_dtypes(include="O").columns

for col in cols: 
    set_train = set(train[col])
    set_test = set(test[col])
    same = (set_train == set_test)

    if same: 
        print(col, "동일함")
    else:
        print(col, "동일하지 않음") 
        print(set_test - set_train)

Brand 동일하지 않음
{'realme', 'MICROSOFT'}
Model 동일하지 않음
{'Aspire', 'Travelmate', 'Katana', 'ROG', 'Surface', 'Notebook', '250-G6', 'Book'}
Series 동일하지 않음
{'Laptop', '7', 'Zephyrus', 'Flex', 'Strix', 'PC', 'GF66', '(Slim)'}
Processor 동일하지 않음
{'5300U', '4800HS'}
Processor_Gen 동일하지 않음
set()
Hard_Disk_Capacity 동일하지 않음
{'1 TB SSD', '128 GB SSD'}
OS 동일하지 않음
set()

In [7]:
train[cols] = train[cols].fillna("X")
test[cols] = test[cols].fillna("X")

train.isnull().sum()
test.isnull().sum()

Brand                 0
Model                 0
Series                0
Processor             0
Processor_Gen         0
RAM                   2
Hard_Disk_Capacity    0
OS                    0
Rating                0
dtype: int64

In [8]:
train["RAM"] = train["RAM"].fillna(-1)
test["RAM"] = test["RAM"].fillna(-1)

train.isnull().sum()

Brand                 0
Model                 0
Series                0
Processor             0
Processor_Gen         0
RAM                   0
Hard_Disk_Capacity    0
OS                    0
Rating                0
Price                 0
dtype: int64

In [9]:
train.describe(include="object")

,Brand,Model,Series,Processor,Processor_Gen,Hard_Disk_Capacity,OS
count,91,91,91,91,91,91,91
unique,7,26,21,16,11,6,8
top,DELL,Inspiron,X,i3,11th,512 GB SSD,Windows 11 Home
freq,29,18,36,42,50,35,30