In [30]:
import pandas as pd 

train = pd.read_csv("car_train.csv")
test = pd.read_csv("car_test.csv")

target = train.pop("Price")

In [31]:
cols = train.select_dtypes(include="O").columns

for col in cols: 
    set_train = set(train[col])
    set_test = set(test[col])

    same = (set_train == set_test)

    if same: 
        print(col, "같다")
    else: 
        print(col, "같지않다")
        # print(len(set_train), len(set_test))
        # print(set_test - set_train)
        # print("공통", len(set_train & set_test))

Levy 같지않다
Manufacturer 같지않다
Model 같지않다
Category 같다
Leather interior 같다
Fuel type 같지않다
Engine volume 같지않다
Mileage 같지않다
Gear box type 같다
Drive wheels 같다
Doors 같다
Wheel 같다
Color 같다

In [32]:
train[cols].describe()

,Levy,Manufacturer,Model,Category,Leather interior,Fuel type,Engine volume,Mileage,Gear box type,Drive wheels,Doors,Wheel,Color
count,6732,6732,6732,6732,6732,6732,6732,6732,6732,6732,6732,6732,6732
unique,395,55,864,11,2,6,91,3430,4,3,3,2,16
top,-,HYUNDAI,Sonata,Sedan,Yes,Petrol,2,0 km,Automatic,Front,04-May,Left wheel,Black
freq,1997,1327,375,3129,4886,3555,1342,235,4729,4525,6392,6221,1716

In [33]:
train[cols].describe()

,Levy,Manufacturer,Model,Category,Leather interior,Fuel type,Engine volume,Mileage,Gear box type,Drive wheels,Doors,Wheel,Color
count,6732,6732,6732,6732,6732,6732,6732,6732,6732,6732,6732,6732,6732
unique,395,55,864,11,2,6,91,3430,4,3,3,2,16
top,-,HYUNDAI,Sonata,Sedan,Yes,Petrol,2,0 km,Automatic,Front,04-May,Left wheel,Black
freq,1997,1327,375,3129,4886,3555,1342,235,4729,4525,6392,6221,1716

In [34]:
train["Mileage"].value_counts()
# train["Levy"].value_counts()
# train["Engine volume"].value_counts()

Mileage
0 km         235
200000 km     62
150000 km     48
100000 km     46
120000 km     39
            ...
216751 km      1
276000 km      1
44545 km       1
99162 km       1
35934 km       1
Name: count, Length: 3430, dtype: int64

In [35]:
train["Levy"] = train["Levy"].str.replace("-", "-1")
test["Levy"] = test["Levy"].str.replace("-", "-1")

train["Levy"].value_counts()

Levy
-1      1997
765      175
891      172
640      149
639      124
        ...
1590       1
1028       1
1848       1
2711       1
695        1
Name: count, Length: 395, dtype: int64

In [36]:
train["Levy"] = train["Levy"].astype("int")
test["Levy"] = test["Levy"].astype("int")

In [37]:
train["Mileage"] = train["Mileage"].str.replace("km", "").astype("int")
test["Mileage"] = test["Mileage"].str.replace("km", "").astype("int")

In [38]:
train.describe()

              Levy   Prod. year       Mileage    Cylinders      Airbags
count  6732.000000  6732.000000  6.732000e+03  6732.000000  6732.000000
mean    637.821004  2010.997772  1.078728e+06     4.575609     6.551693
std     556.395732     5.538817  3.819277e+07     1.209242     4.364451
min      -1.000000  1953.000000  0.000000e+00     1.000000     0.000000
25%      -1.000000  2009.000000  7.133950e+04     4.000000     4.000000
50%     645.000000  2012.000000  1.260000e+05     4.000000     5.000000
75%     919.000000  2015.000000  1.887902e+05     4.000000    12.000000
max    7063.000000  2020.000000  2.147484e+09    16.000000    16.000000

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6732 entries, 0 to 6731
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Levy              6732 non-null   int64
 1   Manufacturer      6732 non-null   object
 2   Model             6732 non-null   object
 3   Prod. year        6732 non-null   int64
 4   Category          6732 non-null   object
 5   Leather interior  6732 non-null   object
 6   Fuel type         6732 non-null   object
 7   Engine volume     6732 non-null   object
 8   Mileage           6732 non-null   int64
 9   Cylinders         6732 non-null   float64
 10  Gear box type     6732 non-null   object
 11  Drive wheels      6732 non-null   object
 12  Doors             6732 non-null   object
 13  Wheel             6732 non-null   object
 14  Color             6732 non-null   object
 15  Airbags           6732 non-null   int64
dtypes: float64(1), int64(4), object(11)
memory usage: 841.6+ KB

In [ ]:
cols

Index(['Levy', 'Manufacturer', 'Model', 'Category', 'Leather interior',
       'Fuel type', 'Engine volume', 'Mileage', 'Gear box type',
       'Drive wheels', 'Doors', 'Wheel', 'Color'],
      dtype='object')

In [ ]:
data = pd.concat([train, test])

from sklearn.preprocessing import LabelEncoder 

for col in cols: 

    le = LabelEncoder()
    data[col] = le.fit_transform(data[col])


train = data.iloc[:len(train)].copy()
test = data.iloc[len(train):].copy()

train.shape, test.shape

((6732, 16), (5772, 16))

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(
    train, 
    target, 
    random_state=2025, 
    test_size=2025
)

In [40]:
from sklearn.ensemble import RandomForestRegressor  

rf = RandomForestRegressor(random_state=2025)
rf.fit(X_train, y_train)
pred = rf.predict(X_val)

from sklearn.metrics import root_mean_squared_error

result = root_mean_squared_error(y_val, pred)

result

11225.253826332802

In [41]:
import lightgbm as lgb 

lgbmr = lgb.LGBMRegressor(random_state=210)
lgbmr.fit(X_train, y_train)
pred = lgbmr.predict(X_val)

result = root_mean_squared_error(y_val, pred)

result

10815.238760596425

In [42]:
from sklearn.metrics import root_mean_squared_log_error

result2 = root_mean_squared_log_error(y_val, pred)
result2

ValueError: Root Mean Squared Logarithmic Error cannot be used when targets contain values less than or equal to -1.